.custom-homepage {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--space-4);
}

[data-block-outlet="homepage-blocks"] {
  display: flex;
  flex-direction: column;
  gap: 0;
}

[data-block-id="brutal-top"] {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: none;

  @include viewport.until(md) {
    grid-template-columns: 1fr;
  }

  > :first-child {
    border-right: none;

    @include viewport.until(md) {
      border-right: var(--brutal-border-thick);
      border-bottom: none;
    }
  }
}

[data-block-id="brutal-bottom"] {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include viewport.until(md) {
    grid-template-columns: 1fr;
  }

  > :first-child {
    border-right: none;

    @include viewport.until(md) {
      border-right: var(--brutal-border-thick);
      border-bottom: none;
    }
  }
}

[data-block-id="brutal-bottom-right"] {
  display: flex;
  flex-direction: column;

  > :first-child {
    border-bottom: none;
  }
}

[data-block-outlet="homepage-blocks"] > * + * {
  margin-top: -6px;
}

[data-block-id="brutal-top"] > * {
  margin-top: 0 !important;
}

[data-block-id="brutal-bottom"] > * {
  margin-top: 0 !important;
}

[data-block-id="brutal-bottom-right"] > * {
  margin-top: 0 !important;
}
