:root {
  --font-family: "IBM Plex Mono", "SF Mono", "Fira Code", monospace;
  --heading-font-family: "IBM Plex Mono", "SF Mono", "Fira Code", monospace;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}
