:root {
  --brutal-black: #000000;
  --brutal-white: #ffffff;
  --brutal-acid: #ccff00;
  --brutal-red: #ff0000;
  --brutal-border: 4px solid var(--brutal-black);
  --brutal-border-thick: 6px solid var(--brutal-black);

  --d-border-radius: 0;
  --d-border-radius-large: 0;
  --d-button-border-radius: 0;
}
