:root {
  --brutal-black: #000;
  --brutal-white: #fff;
  --brutal-acid: #cf0;
  --brutal-red: #f00;
  --brutal-border: 4px solid var(--brutal-black);
  --brutal-border-thick: 6px solid var(--brutal-black);
  --d-border-radius: 0;
  --d-border-radius-large: 0;
  --d-button-border-radius: 0;
}
